<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <a href="/login/">login</a>
    <a href="/signup/">signup</a>
    <h1>Home page</h1>
    <h1>Hi {{ username }}</h1>
    <!--  -->
    {% if age == 18 %}
    <h1>you can apply Voter ID</h1>
    <!--  -->
    {% elif age > 18 %}
    <h1>already you got voter ID</h1>
    <!--  -->
    {% else %}
    <h1>your not eligible for voter ID</h1>
    <!--  -->
    {% endif %}
    <!-- list  and loop -->

    <p>{{ products }}</p>

    {% for i in products %}
    <a href="">{{ i }}</a><br />
    {% endfor %}

    <h1>{{ userInfo.name }}</h1>
    <p>{{ userInfo.email }}</p>
  </body>
</html>

<!-- jinja2 -->
<!--  -->
